<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yijia.community.mapper.UserMapper">
    <insert id="insert" parameterType="user"  >
        insert  into user(account_id,name,create_time,modify_time,token) values(#{account_id},#{name},#{create_time},#{modify_time},#{token});
    </insert>

    <select id="selectByToken" parameterType="string" resultType="user">

        select * from user  where token=#{token}
    </select>
</mapper>
